body {
  font-family: 'Nanum Myeongjo', serif;
}

.width-max {
  max-width: 100%;
  width: 100%;
}

.general-text {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  left: 0%;
}

.message-of {
  font-size: 2.5em;
}

.when-wedding {
}

.where-wedding {
}

.invitation {
}

.greet-text {
  font-family: 'Nanum Myeongjo', serif;
}

.location {
  font-size: 2rem;

  border-bottom: 12px solid #E8F5F6;
  border-top: 12px solid #E8F5F6;

  padding-bottom: 12px;
  padding-top: 12px;
}

.info {
  font-size: 2rem;
  border-top: 12px solid #E8F5F6;
  border-bottom: 12px solid #E8F5F6;
  padding-top: 12px;
  padding-bottom: 12px;
}

.info-list {
  padding-top: 10px;
}

.invitation {
  font-family: 'Italianno', cursive;
  font-size: 3rem;
}

.gallery-img {
  padding-bottom: 15px;
  background-color: #E8F5F6;
}

#form-num-attend {
  margin-top: 12px;
}

#gallery {
  font-family: 'Italianno', cursive;
  font-size: 3rem;
}

#warning-attend-num {
  display: none;
}

#warning-name {
  display: none;
}

#warning-tel {
  display: none;
}

.btn-div {
  text-align: center;
  margin-top: 30px;
}

#attend-submit {
  font-size: 1.4rem;
}
.meal {
  background-color: #f2fcfc;
}

#label-no {
  white-space: nowrap;
}

.where {
  margin-left: 15px;
  margin-top: -20px;
}