body {
  font-family: 'Nanum Myeongjo', serif;
}

.width-max {
  max-width: 100%;
  width: 100%;
}

.general-text {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  left: 0%;
}

.message-of {
  font-size: 2.5em;
}

.when-wedding {
}

.where-wedding {
}

.invitation {
}

.greet-text {
  font-family: 'Nanum Myeongjo', serif;
}

.invitation {
  font-family: 'Italianno', cursive;
  font-size: 3rem;
}

.gallery-img {
  padding-bottom: 15px;
  background-color: #E8F5F6;
}

#gallery {
  margin-top: 50px;
  font-family: 'Italianno', cursive;
  font-size: 3rem;
}

#warning-attend-num {
  display: none;
}

#warning-name {
  display: none;
}

#warning-tel {
  display: none;
}